<nav class="navbar navbar-expand-lg bg-light">
    <div class="container" style="background-color: black;">
        <a class="navbar-brand" href="#" style="color: white;">Acerca de</a>
        <a class="navbar-brand" href="#" style="color: white;">Pago de Recibo</a>
        <a class="navbar-brand" href="#" style="color: white;">Contactos</a>
    </div>
    
</nav>