<footer>
    <div class="container p-3 mb-2 bg-danger text-white">
        <center class="container  p-3 mb-2 bg-danger text-white">
            <footer>Compañia de Luz @derechos reservados 2023</footer>
        </center>
    </div>
</footer>