<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <%-include ('partials/encabezado.html'); %>
        <%-include ('partials/navegacion.html'); %>
        <div class="container p-3 mb-2 bg-warning text-dark">
            <form action="/Examen8-4" method="post">
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Numero de recibo</label>
                    <div class="col-sm-10">
                        <input type="number" name="recibo" id="recibo" required="true">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" name="nombre" id="nombre" required="true">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Domicilio</label>
                    <div class="col-sm-10">
                        <input type="text" name="domicilio" id="domicilio" required="true">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Tipo de servicio</label>
                    <div class="col-sm-10">
                        <select name="tservi" id="tservi">
                            <option value="1">Domestico</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Kilowatts consumidos</label>
                    <div class="col-sm-10">
                        <input type="number" name="kilowatts" id="kilowatts" required="true">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit">Enviar su informacion</button>
                        <button type="reset">Limpiar</button>
                    </div>
                </div>
            </form>   
        </div>
        <%-include ('partials/pie.html'); %>
    </div>
</body>
</html>